.Dealer {
  margin-top: 10px;
  height: 80%;
}

.Card {
  width: 40%;
  height: 45%;
}

.CardLeft {
  float: left;
  margin-left: 5%;
  margin-right: 10%;
}

.CardRight {
  float: right;
  margin-right: 5%;
}

.Address {
}

.Communication {
}

.ProductGroup {
  margin-top: 2%;
}

.OpeningHours {
  margin-top: 2%;
}
